@model BodyTopQuestionsViewModel
<div class="govuk-width-container">
    <partial name="_BetaBanner" />
    <div class="app-breadcrumb-panel">
        <a asp-route="assessment" asp-route-assessmenttype="@Model.AssessmentType" asp-route-questionNumber="@Model.PreviousQuestionNumber" class="govuk-back-link">Back to previous statement</a>
    </div>
</div>