@inject IConfiguration configuration
<div class="ncs-hero page-hero">

    <!-- Desktop image -->
    <div class="d-only">
        <img src="@configuration["AssetsCdn"]media/headers/dysac-desktop-header.png" alt="DYSAC desktop" />
    </div>

    <!-- Mobile image -->
    <div class="m-only">
        <img src="@configuration["AssetsCdn"]media/headers/dysac-mobile-header.png" alt="DYSAC mobile" />
    </div>

    <div class="content govuk-width-container">
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-xl">
                    <div class="block ncs">
                        <span>Discover your</span>
                        <span>skills and </span>
                        <span>careers</span>
                    </div>
                </h1>
            </div>
        </div>
    </div>
</div>