[*.cs]

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = none

# CA1305: Specify IFormatProvider
dotnet_diagnostic.CA1305.severity = none

# CA1304: Specify CultureInfo
dotnet_diagnostic.CA1304.severity = none

# S4457: Parameter validation in "async"/"await" methods should be wrapped : Justification: The compiler uses the same kind of transformation on async methods as it does for iterator methods, so it is valid recommendation, but we believe OTT.
dotnet_diagnostic.S4457.severity = none

# CA1303: Do not pass literals as localized parameters : Justification: So that appropriate messages can be passed on for exceptions.
dotnet_diagnostic.CA1303.severity = none
