@model ResultIndexResponseViewModel
@inject IConfiguration configuration

<div class="dysac-page-panel">
    <div class="dysac-page-panel-content">
        <div class="dysac-page-panel-desc">
            <h3>Explore careers in your own time</h3>
            <p class="govuk-body">You can <a href="/explore-careers">explore careers</a> to see what skills you’ll need for different jobs. </p>
            <p class="govuk-body">Exploring careers can also help you discover jobs you might not have considered. </p>

        </div>
        <div class="dysac-page-panel-image">
            <img class="dysac-page-panel-image-e"  src="@configuration["AssetsCdn"]media/dysac/compass.svg" alt="" />
        </div>
    </div>

</div>