@inject IConfiguration configuration

<div class="govuk-grid-column-one-third">
    <div class="dysac-job-role-tile-image">
        <img src="@(configuration["AssetsCdn"]+@Model.desktopImage)" class="dysac-job-role-tile-header-desktop" alt="" />
        <img src="@(configuration["AssetsCdn"]+@Model.mobileImage)" class="dysac-job-role-tile-header-mobile" alt="" />
    </div>
</div>
