@model ResultIndexResponseViewModel
@inject IConfiguration configuration
<div class="govuk-!-margin-top-8 dysac-job-category-panel">
    <h2>Job categories that might interest you</h2>
    @if (Model.Results.JobCategories.Count() > 1)
    {
        <p class="govuk-body dysac-job-category-summary">We’ve suggested @(@Model.Results.JobCategories.Count() > 3 ? 3 : @Model.Results.JobCategories.Count())  job categories for you to explore based on your responses. Start with these or look at the remaining categories suggested.</p>

    } else
    {
        <p class="govuk-body dysac-job-category-summary">We’ve suggested one job category for you to explore based on your responses.</p>

    }
    <p class="govuk-body dysac-job-category-summary govuk-!-margin-bottom-6">Answer a few specific questions for each category to get suggested careers.</p>
    <div class="govuk-!-margin-top-5 dysac-job-category-tile-container">
        @{
            var jobCategories = Model.Results.JobCategories?.ToArray();

        }
        @for (int index = 0; index < jobCategories.Count(); index++)
        {
            if (index > Model.Results.JobCategoriesNumberToShow-1)
            {
                break;
            }
            <partial name="_JobCategoryCard" model="new JobCategoryCardViewModel {JobCategory = jobCategories[index], AssessmentType = Model.Results.AssessmentType}" />
        }
        </div>

        @if (Model.Results.JobCategories.Count() > Model.Results.JobCategoriesNumberToShow)
        {
        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
            <div class="govuk-accordion__section">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                            Remaining job categories suggested
                        </span>
                    </h2>
                </div>
                <div id="accordion-default-content-1" class="govuk-accordion__section-content">
                    <div class="govuk-!-margin-top-5 dysac-job-category-tile-container">

                        @for (int index = 3; index < jobCategories.Count(); index++)
                        {
                            <partial name="_JobCategoryCard" model="new JobCategoryCardViewModel {JobCategory = jobCategories[index], AssessmentType = Model.Results.AssessmentType}" />
                        }
                    </div>
                </div>
            </div>
            </div>
        
        }
    
</div>
  