<div class="dysac-next-steps-panel">
    <h2 class="govuk-heading-m">Next steps with your results</h2>

    <p class="govuk-body">Take some time to look through the suggested careers. It can be useful to think about:</p>

    <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-5">
        <li>which careers you like and why</li>
        <li>which careers do not interest you and why</li>
    </ul>
    <p class="govuk-body">If you want an offline copy of your results, you can <a href="#" id="dysac-print-button">print</a> them.</p>
    <h2 class="govuk-heading-s">Get your reference code</h2>
    <p class="govuk-body">If you want to return to your results later, <a href="/discover-your-skills-and-careers/Assessment/reference"> get your reference code.</a> You can also choose to get the reference code sent to you by email or text message.</p>
</div>