@model string

<div class="govuk-grid-column-one-third">
    <div class="dysac-job-role-tile-nojob">
        <div class="dysac-job-role-category">
        <p  ><span>No careers were found that might interest you based on your responses.</span></p>
            <p class="govuk-body">
                <a class="govuk-link" draggable="false" asp-route="filterQuestions" asp-route-assessmenttype="filter" asp-route-jobCategoryName="@Model" asp-route-questionNumber="0">
                    Change your answers
                </a>
            </p>
    </div>
</div>
</div>
