<div class="app-related-items app-print-panel">
    <h3 class="govuk-heading-m">Print your results</h3>
    <p class="govuk-body"><a href="#" id="dysac-print-button">Print<span class="govuk-visually-hidden"> your results</span></a></p>
</div>
