@inject IConfiguration configuration
<div class="ncs-hero page-hero">

    <!-- Desktop image -->
    <div class="d-only">
        <img src="@configuration["AssetsCdn"]media/headers/your-results-desktop-header.png" alt="results header desktop" />
    </div>

    <!-- Mobile image -->
    <div class="m-only">
        <img src="@configuration["AssetsCdn"]media/headers/your-results-mobile-header.png" alt="results header mobile" />
    </div>

    <div class="content govuk-width-container">
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-xl">
                    <div class="block ncs">
                        <span>Your results</span>
                    </div>
                </h1>
            </div>
        </div>
    </div>
</div>