<div class="ncs-hero page-hero">

    <!-- Desktop image -->
    <div style="background:url(https://lab-cdn.nationalcareersservice.org.uk/media/headers/page-header.jpg) top no-repeat" class="d-only"></div>

    <!-- Mobile image -->
    <div style="background:url(https://lab-cdn.nationalcareersservice.org.uk/media/headers/page-mobile-header.jpg) top no-repeat" class="m-only"></div>

    <div class="content govuk-width-container">
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-xl">
                    <div class="block ncs">
                        <span>Your results</span>
                    </div>
                </h1>
            </div>
        </div>
    </div>

</div>