@inject IConfiguration configuration
<div class="dfc-dysac-assement-panel-banner ncs-hero page-hero dfc-dysac-banner-result">

   <div class="content govuk-width-container">
        <div class="govuk-grid-row">
            <div class="dysac-panel-header-container">
                <div class="dysac-panel-header-container-text">
                    <h1 class="govuk-heading-xl">
                        Your results
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>