@inject IConfiguration configuration
<div class="ncs-hero page-hero">

    <!-- Desktop image -->
    <div class="d-only">
        <img src="@configuration["AssetsCdn"]media/headers/your_results2_desktop.png" alt="A woman stood in a boardroom holding a whiteboard in front of others." />
    </div>

    <!-- Mobile image -->
    <div class="m-only">
        <img src="@configuration["AssetsCdn"]media/headers/your_results2_mobile.png" alt="A woman stood in a boardroom holding a whiteboard in front of others." />
    </div>

    <div class="content govuk-width-container">
        <div class="govuk-grid-row">

            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-xl">
                    <div class="block ncs">
                        <span>Your results</span>
                    </div>
                </h1>
            </div>
        </div>
    </div>
</div>