<div class="primary-hero">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full govuk-grid-column-two-thirds-from-desktop">
                <h1 class="govuk-heading-xl app-masthead__title">Your results</h1>
            </div>
        </div>
    </div>
</div>
