@model ResultsHeroBannerViewModel
<partial name="_ResultsHeader" />
<div class="secondary-hero">
    <div class="govuk-main-wrapper govuk-width-container govuk-!-padding-top-7">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds app-intro">
                <h2 class="govuk-heading-l">What you told us</h2>
                <div class="govuk-text">
                    <p>Your answers show that:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        @foreach (var trait in Model.Traits)
                        {
                            <li>@trait</li>
                        }
                    </ul>
                    @if(Model.IsCategoryBanner)
                    {
                        @if (Model.NumberOfCategories > 0)
                        {
                            <p>The following job categories are based on the answers you have given. You can choose to view more results at the bottom of the page.</p>
                        }
                        else
                        {
                            <p>Because of your answers, we could not recommend any job categories. You might want to <a href="/discover-your-skills-and-careers/assessment/short/new">go through the assessment again</a> to check that your responses were correct.</p>
                        }
                    }
                </div>
            </div>
            <div class="govuk-grid-column-one-third">
                <div>
                    <div id="print-button-container"></div>
                </div>
                <div>
                    <partial name="_SpeakToAnAdviser" />
                </div>
            </div>
        </div>
    </div>
</div>

