@model ResultsHeroBannerViewModel
<partial name="_ResultsHeader"/>
<div class="secondary-hero">
    <div class="govuk-main-wrapper govuk-width-container govuk-!-padding-top-7">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds app-intro">
                <h2 class="govuk-heading-l" id="whatYouToldUs">What you told us</h2>
                <div class="govuk-text">
                    <ul class="govuk-list govuk-list--bullet">
                        @foreach (var trait in Model.Traits)
                        {
                            <li>@trait</li>
                        }
                    </ul>
                    @if (Model.IsCategoryBanner)
                    {
                        @if (Model.NumberOfCategories > 0)
                        {
                            <p>The following careers are based on the answers you have given. You can refine your results by answering more questions.</p>
                            <p class="govuk-body">You may want to:</p>
                            <ul class="govuk-list govuk-list--bullet">
                                <li><a href="/discover-your-skills-and-careers/assessment/email" class="govuk-link govuk-link--no-visited-state">email</a> <span id="printBody"></span> your results to think about later</li>
                                <li><a href="/explore-careers" class="govuk-link">explore careers</a> suggested for you</li>
                                <li>compare different careers to see what you like</li>
                                <li><a href="/contact-us" class="govuk-link">talk to a careers adviser</a> about your results and next steps</li>
                            </ul>
                        }
                        else
                        {
                            <p>We could not recommend any careers based on your responses. You might want to <a href="/discover-your-skills-and-careers/assessment/short/new">go through the assessment again</a> to check that your responses were accurate.</p>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>