@model JobProfileViewModel
    <div class="ncs-card-basic dysac-job-role-card">
        <div class="card-header">
            <h3>
                <a href="/job-profiles/@Model.UrlName">@Model.DisplayText</a>
            </h3>
         </div>

        <div class="card-content">
            <p>
                @Model.Overview
            </p>
            <div id="salary">
                @if (Model.SalaryStarterPerYear > 0 && Model.SalaryExperiencedPerYear > 0)
                {
                <p>Salary : @Model.SalaryStarterPerYear.ToString("C0", System.Globalization.CultureInfo.GetCultureInfo("en-GB")) to              
               @Model.SalaryExperiencedPerYear.ToString("C0", System.Globalization.CultureInfo.GetCultureInfo("en-GB"))</p>
                }
                else
                {
                <p class="dfc-code-jpsalaryblank">Variable</p>
                }                
            </div>
        </div>
        
    </div>
