@model JobProfileViewModel
    <div class="dysac-job-role-tile dysac-job-role-tile-group">
        <div class="dysac-job-role-category">
            <h4>
                <a href="/job-profiles/@Model.UrlName">@Model.DisplayText</a>
            </h4>
            <p>
                @Model.Overview
            </p>
            <div id="salary">
                @if (Model.SalaryStarterPerYear > 0 && Model.SalaryExperiencedPerYear > 0)
                {
                <p>Salary : @Model.SalaryStarterPerYear.ToString("C0", System.Globalization.CultureInfo.GetCultureInfo("en-GB")) to              
               @Model.SalaryExperiencedPerYear.ToString("C0", System.Globalization.CultureInfo.GetCultureInfo("en-GB"))</p>
                }
                else
                {
                <p class="dfc-code-jpsalaryblank">Variable</p>
                }                
            </div>
        </div>
    </div>
