<div class="govuk-width-container">
    <div class="govuk-grid-row govuk-!-margin-bottom-9 govuk-!-margin-top-8">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-panel ncs-panel--confirmation govuk-!-margin-bottom-6">

                <div class="govuk-panel__body">
                    <div class="ncs-progress ncs-progress--complete status-100">
                        <div class="ncs-progress__count govuk-body">
                            <span class="govuk-!-font-size-36">100% </span>
                            <span class="govuk-visually-hidden">Complete</span>
                        </div>

                        <div class="ncs-progress__bar">
                            <span class="ncs-progress__100"></span>
                        </div>
                    </div>
                </div>

                <h1 class="ncs-panel__title govuk-panel__title">Assessment complete</h1>

            </div>

            <h2 class="govuk-heading-m">What to do next</h2>

            <p class="govuk-body">Next, you'll see some careers in the job category you chose.</p>
            <p class="govuk-body">These careers have been refined based on your responses and do not reflect opportunities in the job market.</p>

            <p class="govuk-body govuk-!-margin-bottom-5">Your results can be useful to work out careers that do or do not interest you.</p>
            
            <a class="govuk-button ncs-button__primary app-button" asp-controller="results" asp-action="index">See results</a>
        </div>
    </div>
</div>