<h1>Assessment complete</h1>

<h3>What to do next</h3>
<p>
    See the types of jobs that might suit you. Your results are based on your responses.
</p>

<a asp-controller="results" asp-action="index">See results</a>