@model AssessmentEmailPostResponse
<a asp-controller="assessment" asp-action="save">Back</a>

<h1>Email address</h1>

@Html.ValidationSummary()

We will only use this to send you a link to return to your assessment

<form method="post">
    <input asp-for="Email" />
    <p>
        <span asp-validation-for="Email" class="text-danger"></span>
    </p>
    <button>Send</button>
</form>