<a asp-controller="assessment" asp-action="email">Back</a>

<h1>Check your email</h1>
<p>
    Click on the link in the email to return to your assessment.
</p>
<a asp-controller="assessment" asp-action="return">Return to assessment</a>