<h1>Your reference code</h1>

7K2E MY6Y K4K4 Z7
<br/>
23 Jan 2020

<hr/>

<h3>What to do with your reference</h3>
The code above is your unique reference. You can use this to:

<ul>
    <li>return to your assessment and continue</li>
    <li>see your results, if you have finished the assessment</li>
</ul>

<h3>Send reference code in a text message</h3>
We will only use this to send you a link to return to your assessment

<form method="post">
    @Html.ValidationSummary()
    <input type="tel" name="telephone" placeholder="Telephone" />
    <button type="submit">Send</button>
</form>