<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl">Check your phone</h1>

            <p>A text message has been sent to @TempData.Peek("Telephone")</p>
            <p>Click on the link in the text message to return to your assessment.</p>
            <a asp-controller="assessment" class="govuk-button" asp-action="return">Return to assessment</a>
            <p><a href="@RouteName.ReturnLink">Back to start</a></p>
        </div>
    </div>
</div>
