@model AssessmentSaveResponseViewModel
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl govuk-visually-hidden">Save your progress</h1>
                <form method="post" id="dysac-form">
                    <!-- Error msgs go here  -->
                    <div class="govuk-grid-row app-error">
                        <div class="govuk-grid-column-two-thirds-from-desktop">
                            <partial name="ValidationSummary" model="ViewData.ModelState" />
                        </div>
                    </div>
                    <div class="govuk-form-group" id="code">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                                <h1 class="govuk-fieldset__heading">
                                    How would you like to return to your assessment?
                                </h1>
                            </legend>
                            <span asp-validation-for="AssessmentReturnTypeId" class="text-danger govuk-error-message"></span>
                            <div class="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input type="radio" asp-for="AssessmentReturnTypeId" class="govuk-radios__input" id="SelectedOption-1" value="1" />
                                    <label class="govuk-label govuk-radios__label" for="SelectedOption-1">
                                        Send me an email with a link
                                    </label>
                                </div>

                                <div class="govuk-radios__item">
                                    <input type="radio" asp-for="AssessmentReturnTypeId" class="govuk-radios__input" id="SelectedOption-2" value="2" />
                                    <label class="govuk-label govuk-radios__label" for="SelectedOption-2">
                                        Get a reference code
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <button type="submit" class="govuk-button" id="dysac-submit-button">Continue</button>
                </form>
                <div class="govuk-body">
                    <p><a asp-action="return">Return to assessment</a></p>
                </div>
            </div>
        </div>
    </div>
