@model string;

<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-xl">Check your phone</h1>

            <p>A text message has been sent to @TempData.Peek("Telephone")</p>
            <p>This includes your reference code and a link to return to your assessment at any time.</p>            
             @if (@Model == PageTitle.Start)
                {
                <form method="post" asp-action="new" asp-controller="assessment">
                    <input type="hidden" id="assessmentType" name="assessmentType" value="short" />
                    <input draggable="false" type="submit" class="govuk-button ncs-button__primary" value=" Start assessment" data-module="govuk-button" />
                        
                </form>
                }
                else {
                <a asp-controller="assessment" class="govuk-button ncs-button__primary" asp-action="return">Return to assessment</a>
                }
        </div>
    </div>
</div>