<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DFC.App.DiscoverSkillsCareers</title>
    <link rel="preload" href="https://discover-skills-careers-dev.nationalcareersservice.org.uk/assets/fonts/light-f38ad40456-v1.woff2" as="font" type="font/woff2" crossorigin="">
    <link rel="preload" href="https://discover-skills-careers-dev.nationalcareersservice.org.uk/assets/fonts/bold-a2452cb66f-v1.woff2" as="font" type="font/woff2" crossorigin="">
    <link rel="stylesheet" href="https://discover-skills-careers-dev.nationalcareersservice.org.uk/assets/css/main.css">
    <script src="https://dev-cdn.nationalcareersservice.org.uk/gds_service_toolkit/js/jquerybundle.min.js?QSdCVRwEUEFWhcpLgllrLA==" type="text/javascript"></script>
    <link rel="stylesheet" href="https://discover-skills-careers-dev.nationalcareersservice.org.uk/assets/css/print--.css">
</head>
<body>
    @RenderBody()
    @RenderSection("Scripts", required: false)
    <partial name="_ValidationScriptsPartial" />
</body>
<script src="https://discover-skills-careers-dev.nationalcareersservice.org.uk/assets/js/site.js" type="text/javascript"></script>
</html>
