@model FilterBodyTopViewModel
<div class="govuk-width-container">
    <div class="app-breadcrumb-panel">
        @if (Model.QuestionNumber >= 1)
        {
            <a asp-route="filterQuestions" asp-route-assessmenttype="@Model.AssessmentType" asp-route-jobCategoryName="@Model.JobCategoryName" asp-route-questionnumber="@Model.QuestionNumber" class="govuk-back-link">Back to previous question</a>
        }
        else
        {
            <a asp-controller="results" asp-action="Index" class="govuk-back-link">Back to results</a>
        }
    </div>
</div>
