@model FilterQuestionsCompleteResponseViewModel

<h1>Assessment complete</h1>

<h3>What to do next</h3>
<p>
    See the types of jobs that might suit you. Your results are based on your responses.
</p>

<a asp-route="results" asp-route-jobcategoryname="@Model.JobCategoryName">See results</a>