@model FilterQuestionIndexResponseViewModel

@if (Model.Question.QuestionNumber == 1)
{
    <br />
    <a asp-controller="results">Back to results</a>
}
@if (Model.Question.QuestionNumber > 1)
{
    <br />
    <a asp-route="filterQuestions" asp-route-questionSetName="@Model.Question.QuestionSetName" asp-route-jobCategoryName="@Model.JobCategoryName" asp-route-questionnumber="@(Model.Question.QuestionNumber-1)">Back to previous statement</a>
}

<h1>@Model.Question.QuestionText</h1>

<partial name="_IndexQuestion" model="Model.Question" />