@{
    ViewData["Title"] = "Discover your skills and careers";
}
<div class="govuk-width-container">
    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
            <strong class="govuk-tag govuk-phase-banner__content__tag ">
                beta
            </strong>
            <span class="govuk-phase-banner__text">
                Complete <a target="_blank" rel="noopener noreferrer" class="govuk-link" href="https://surveys.ipsosinteractive.com/mrIWeb/mrIWeb.dll?I.Project=S1039833&amp;id=&amp;cf=ovl ">Ipsos MORI survey</a> to give us your feedback about the service.
            </span>
        </p>
    </div>
</div>

<div class="primary-hero">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Discover your skills and careers</h1>
            </div>
        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p>
            This assessment asks you to think about the type of work you want to do. It takes 5 to 10 minutes, or slightly longer if you’re using a screen reader or magnifier.
        </p>

        <p>
            At the end, you’ll get a summary of job groups that might interest you based on your answers, for example creative careers or working in healthcare.
        </p>

        <p>
            You can answer a few more questions to see particular jobs that may suit you, like an animator or a paramedic. From here, you can get more detailed information about each role.
        </p>

        <p>
            You can save your results and come back to them at any time.
        </p>

        <form method="post" asp-action="new" asp-controller="assessment">
            <input type="hidden" id="questionSetName" name="questionSetName" value="short" />
            <button role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
                Start assessment
                <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
                    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                </svg>
            </button>
        </form>
    </div>

    <div class="govuk-grid-column-one-third">
        <div class="app-related-items">
            <h2 class="govuk-heading-m">Return to an assessment</h2>
            <form method="post" asp-controller="home">
                @Html.ValidationSummary()
                <div class="govuk-form-group ">
                    <label class="govuk-label" for="code">Enter your reference</label>
                    <input class="govuk-input " id="referenceCode" name="referenceCode" type="text">
                </div>
                <button type="submit" class="govuk-button app-button">
                    Continue
                </button>
            </form>
        </div>
        <div class="app-related-items">
            <h2 class="govuk-heading-m">Want to speak to an adviser?</h2>
            <p class="govuk-body-m"><span class="govuk-body govuk-!-font-weight-bold">Call</span> 0800 100 900 or <a class="govuk-link" href="/webchat/chat/" rel="external" target="'_blank'">use webchat</a></p>
            <p class="govuk-caption-m">8am to 10pm, 7 days a week</p>
        </div>
    </div>

</div>


