@model StartViewModel
@{
    ViewData["Title"] = "Discover your skills and careers";
}
<partial name="_ReferencePartial" model="Model" />
@if (Model.SharedContent != null)
{
    <div class="app-related-items">
        @Html.Raw(Model.SharedContent)
    </div>
}